@keyframes loadingPulse {

	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.1;
	}
}

@keyframes floating {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(-5px) rotate(0deg);
	}

	100% {
		transform: translateY(0px) rotate(0deg);
	}
}