//
// Global settings
//

$bg-color: #F3FAFF;

// Margin
$global-margin: 1rem;

// Padding
$global-padding: 1rem;

// Transition
$global-transition: 200ms all ease-in-out;

// Border radius
$global-radius: 4px;

// Main color
$main-color-1000: #154366;
$main-color-900: #206499;
$main-color-800: #2A86CC;
$main-color-700: #35A7FF;
$main-color-600: #49B0FF;
$main-color-500: #72C1FF;
$main-color-400: #9AD3FF;
$main-color-300: #AEDCFF;
$main-color-200: #C2E5FF;
$main-color-100: #D7EDFF;
$main-color-50: #EBF6FF;
$main-color: #35A7FF;
